/* CSS Style Sheet */

/* General style */

* {
  /* accounts for borders and padding in width or height elements */
  box-sizing: border-box;
}

/* ID Styles */

#containerFlexible {
  /* containerFlexible applies to a div tag that encloses all of the
  viewable content on each page.  This limits the entire site to 80%
  of the available screen width */
  max-width: 90%;
  margin: auto;
  line-height: 1.5;
}

#NavPanelFlexible {
  padding: 10px;
  display: block;
  text-align: center;
}

#footerFlexible {
  /* footerFlexible applies to a footer section at the bottom of each page
  listing the park name, address, email link, and copyright notice */
  color: black;
  font-size: medium;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

#smallLogo {
  width: 100px;
  height: 100px;
  float: left;
  padding: 5px;
}

#nsfMediumLogo {
  width: 200px;
  height: 200px;
  float: right;
  padding: 5px;
}

#institutional {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 10px 10px 50px #8aabb1;
  border-radius: 25px;
  padding: 20px;
}

#calendar {
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#talkTable, #jetscapeMeetingsTable, #otherMeetingsTable {
  position: block;
  margin: auto;
  box-shadow: 10px 10px 50px #8aabb1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  color: #333747;
  font-size: small;
}

/* Tag Styles */

body {
  /* font selection for text within body tag */
  font-family: verdana, georgia, sans-serif;
}

h1 {
  /* the page titles introducing major sections are labeled h1 */
  color: black;
  text-align: center;
}

h2 {
  /* the page titles introducing minor sections are labeled h2 */
  color: black;
  text-align: left;
}

h4 {
  /* the page titles introducing minor sections are labeled h3 */
  color: black;
  text-align: left;
  text-decoration: none;
}

hr {
  /* the horizontal rule is used to separate sections */
  border: .5px solid lightgray;
}

iframe {
  /* the iframe tag is used to display the calendar */
  box-shadow: 10px 10px 50px #8aabb1;
}

/* Class Styles */

.header {
  text-align: center;
}

/* Dropdown Button */
.dropbtn {
  background-color: #8aabb1;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #333747;}
