#this is where we will implement the yaml
name: reachable URL test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    # run every day at 00:00 UTC
    - cron: '0 0 * * *'

env:
  URL_TO_TEST: "https://jetscape.org"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: Install Dependencies
        run: |
          pip install requests

      - name: Test URL
        run: |
          python3 ${GITHUB_WORKSPACE}/tests/valid.py $URL_TO_TEST
